body {
	height: 100%;
	margin: 0;
	background-color: black;
}

.parallax-window,
.parallax-window2,
.parallax-window3,
.parallax-window4 {
    min-height: 600px;
    background: transparent;
}

.content {
	height: 600px;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding: 0;
	font-size: 14pt;
	text-align: center;
}

.footer {
	font-size: 10px;
	color: white;
	text-align: left;
}

.logo {
	height: 30px;
	float: right;
	margin: 5px;
}

.nav {
	position: fixed;
	width: 100%;
}

i {
	padding-right: 10px;
	padding-top: 10px;
	float: right;
	display: inline-block;
}

.nav a {
	color: rgba(255, 255, 255, 0.5);
}

.nav a:hover {
	color: rgba(255, 255, 255, 0.8);
}

#whisper {
	font-family: 'Adamina', serif;
	letter-spacing: 3px;
	opacity: 0.7;
	color: white;
	font-size: 50px;
	text-align: right;
}

#whisper > p {
	margin-top: 50px;
	margin-right: 5px;
}

#arm {
	font-family: 'Adamina', serif;
	letter-spacing: 3px;
	opacity: 0.7;
	color: white;
	font-size: 50px;
	text-align: left;
}

#arm > p {
	margin-top: 50px;
	margin-left: 5px;
}

.imgsplit {
	flex: 1;
	height: 100%;
	margin: 0;
	padding: 0;
}

#syn {
	margin-top: 100px;
	margin-bottom: 100px;
}

.txtsplit {
	flex: 1;
	height: 100%;

}

.txtsplit > p {

	font-size: 16px;
	margin: 20px;
	color: white;
}

#gallery {
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

#trailer {
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

#trailbox {
	font-family: 'Adamina', serif;
	letter-spacing: 3px;
	opacity: 0.7;
	color: white;
	font-size: 50px;
	flex-direction: column;
}

#trailbox > p {
	margin-top: 20px;
	margin-bottom: 0px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	#whisper {
		font-size: 25px;
	}
	.txtsplit > p {
		font-size: 6px;
	}
	#syn {
		margin-top: 5px;
	}
	.content {
		height: 400px;
	}
	#trailbox {
		font-size: 25px;
	}
	.parallax-window,
	.parallax-window2,
	.parallax-window3,
	.parallax-window4 {
		min-height: 300px;
	}
	#arm {
		font-size: 25px;
	}

	.logo {
		height: 10px;
	}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {

	#whisper {
		font-size: 25px;
	}
	.txtsplit > p {
		font-size: 8px;
	}
	#syn {
		margin-top: 5px;
	}
	.content {
		height: 400px;
	}
	#trailbox {
		font-size: 25px;
	}
	.parallax-window,
	.parallax-window2,
	.parallax-window3,
	.parallax-window4 {
		min-height: 300px;
	}
	#arm {
		font-size: 25px;
	}

	.logo {
		height: 20px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		#whisper {
		font-size: 50px;
	}
	.txtsplit > p {
		font-size: 12px;
	}
	#syn {
		margin-top: 5px;
	}
	.content {
		height: 600px;
	}
	#trailbox {
		font-size: 25px;
	}
	.parallax-window,
	.parallax-window2,
	.parallax-window3,
	.parallax-window4 {
		min-height: 300px;
	}
	#arm {
		font-size: 50px;
	}

	.logo {
		height: 25px;
	}
}


















